body {font-family: Roboto, Relaway, sans serif; color: #f4f4fd, #E7E9FC, #4E5AE5, #2E2F42, #404BBF, #434455, #FFFFFF, #000000; background-color: #FFF;}


.first-list { text-decoration: none;
}
ul {
    list-style: none;
}